
<div>
  <div class="shadow rounded p-4 mb-6 bg-violet-50">
    <h1 class="font-bold text-4xl my-3"><%= @dataset.name %></h1>
    <div class="flex justify-between">
      <div><span class=" font-bold text-base">Language:</span> <span class="uppercase font-bold text-xs text-gray-500 "><%= @dataset.language %></span></div>
      <div>        
          <span class="font-bold text-base">Splits: </span>
          <span class="inline text-gray-500 text-xs uppercase font-bold">
            <% if @dataset.splits.training.present? %>
                  <%= link_to "Training", split_path(@dataset.splits.training.first) %>
            <% end %>
          </span>
          <span class="inline text-gray-500 text-xs uppercase font-bold">
            <% if @dataset.splits.testing.present? %>
                  <%= link_to "Testing", split_path(@dataset.splits.testing.first ) %>
            <% end %>
            </span>


      </div>
    </div>

  </div>

  <div id="prompts" class="min-w-full overflow-y-scroll rounded-lg bg-slate-300 border-4 border-slate-300  p-4 my-4">
    <%= render @prompts %>
  </div>
    <div class="flex justify-center items-center py-4">
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
  </div>
</div>
  

