<div class="w-full">
      <%= render "layouts/search", locals: {splits: @splits} %>
    <%= turbo_frame_tag "prompts" do %>
      <h2 class="font-bold text-xl text-center"><%= @split.name.capitalize %> prompts</h2>
        <div id="prompts" class="min-w-full overflow-y-scroll rounded-lg bg-slate-300 border-4 border-slate-300  p-4 my-4">
          <%= render @prompts %>
        </div>

    <div class="flex justify-center items-center py-4">
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    </div>
    <% end %>

</div>
