<!-- component -->
<!-- Creacte By Joker Banny -->
<div class="flex justify-center items-center" id="search">
	<div class="container mx-auto w-3/5  rounded-lg border border-indigo-300">

    <%= form_with(url: search_prompts_url, method: :get, html: {autocomplete: 'off'}, class: "sm:flex items-center bg-white rounded-lg overflow-hidden px-2 py-1 justify-between") do |form| %>
        <%= form.text_field :query, class: "text-base text-gray-400 flex-grow outline-none px-2 rounded-lg bg-gray-100", placeholder: "Search" %>
        <% if @splits.present? %>
            <% if @splits.count ==1 %>
                <div class="ms:flex items-center px-2 rounded-lg space-x-4 mx-auto ">
                    <%= form.select :split, @splits,  class: "text-base text-gray-800  border-1 px-4 py-2 rounded-lg bg-gray-100"%>
                </div>
            <% else %>
                <div class="ms:flex items-center px-2 rounded-lg space-x-4 mx-auto ">
                    <%= form.select :split, @splits, prompt: "Select Split",  class: "text-base text-gray-800  border-1 px-4 py-2 rounded-lg bg-gray-100"%>
                </div>
            <% end %>

        <% end %>

        <%= form.submit "Search", class: " cursor-pointer bg-indigo-800 text-white text-base rounded-lg px-4 py-2 font-thin" %>

    <% end %>
	</div>
</div>